<div class="container-login">
  <img src="./../../../assets/foto-form.png">
    <div class="ctn-contact-form">
      <h1>Creá tu cuenta</h1>
      <form class="contact-form-div">
        <div class="data-user">
          <input
            type="text"
            placeholder="Nombre"
          >
          <input
            type="text"
            placeholder="Apellido"
          >
        </div>
        <div class="data-login">
          <input
            type="email"
            placeholder="example@email.com"
          >
          <input
            type="text"
            placeholder="Contraseña"
          >
        </div>
      </form>
    <button>Crear cuenta</button>
  </div>
</div>



